.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2A303A;
}

.nav {
    position: absolute;
    justify-content: center;
    align-content: center;
    bottom: 0;
  }

  .flexColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    top: 0;
    padding: 300px;
    color: #F1F1F1
}