.super_container {
    
}

.container {
    width: 96%;
    height: auto;
    margin-left: 2%;
    position: relative;
}

.text_box{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-style: solid;
    border-radius: 1rem;
    background-color: turquoise;
    width: auto;
    padding-top: -1rem;
    padding-bottom: -1rem;
    margin-top: -0.8rem;
    margin-bottom: -1rem;
}

.name{
    
}

.namebox{
    padding-left: 0.5rem;

}
.text{
    word-wrap: break-word;
}